// fonts
@import font.css

// colors
$fb-primary: #1d552e
$fb-secondary: #64BF13
$fb-blue: #30588f
$fb-green: #88E143
$fb-lightblue: #9DBFE2
$fb-white: #f8fff8
$fb-dark: #125135
$fb-red: #E13758

// css variables
:root
    --opacity: 0
body, html
    background-color: $fb-primary
    overscroll-behavior-y: contain
    overflow: hidden
    height: 100%
    -webkit-perspective: 1000
    -webkit-backface-visibility: hidden
    -webkit-transform: translate3d(0,0,0)

// mixins
@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
    text-align: center
@mixin flex-center-fill
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    width: 100%
    height: 100%
@mixin flex-center-absolute
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    width: 100%
    height: 100%
@mixin max
    max-width: 1100px
@mixin font-round-bold
    font-family: museo-sans-rounded, sans-serif
    font-weight: 800
    font-style: normal
@mixin font-round-reg
    font-family: museo-sans-rounded, sans-serif
    font-weight: 500
    font-style: normal
    line-height: 1.5
// animations
.fade-enter-active
    transition: opacity 0.25s ease
    transition-delay: 0.25s

.fade-leave-active
    transition: opacity 0.25s cubic-bezier(0.3, 0.5, 0.8, 1)

.fade-enter,
.fade-leave-to
    opacity: 0

@keyframes correct
    0%
        background: $fb-white
        border-color: darken($fb-white, 5%)

    50%
        background: $fb-green
        border-color: darken($fb-green, 5%)

    100%
        background: $fb-white
        border-color: darken($fb-white, 5%)

@keyframes incorrect
    0%
        background: $fb-white
        border-color: darken($fb-white, 5%)

    50%
        background: $fb-red
        border-color: darken($fb-red, 5%)
        color: $fb-white

    100%
        background: $fb-white
        border-color: darken($fb-white, 5%)
// button
button
    width: 100%
    max-width: 350px
    height: 70px
    background: transparentize(#000, 0.95)
    margin: 0.15rem
    padding: 0.85rem 0.25rem 0.65rem 0.25rem
    border: 3px solid $fb-white
    border-radius: 2px
    @include font-round-reg
    font-size: 1.55rem
    letter-spacing: 3px
    line-height: 1.1
    text-transform: uppercase
    color: $fb-secondary
    transition: border 0.25s ease, background 0.25s ease
    appearance: none
    cursor: pointer
    &:hover
        border: 3px solid $fb-secondary
        background: white
    &.primary
        background: $fb-white
        border: 4px solid $fb-white
        border-radius: 10px
        font-family: 'sporty-pro', sans-serif
        font-size: 1.6rem
        letter-spacing: 1px
        font-weight: 500
        color: $fb-dark
        &:hover
            border: 4px solid transparentize(#fff, 0.2)
            background: transparentize(#fff, 0.2)
    &.secondary
        background: transparentize(#000, 0.95)
        border: 4px solid $fb-white
        color: $fb-white
        font-size: 1.45rem
        border-radius: 5px
        &:hover
            border: 4px solid transparentize(#fff, 0.2)
            background: transparentize(#000, 0.8)
    &.correct
        animation: correct ease-in-out 0.65s 3

    &.incorrect
        animation: incorrect ease-in-out 0.65s 3
// helpers
.freeze
    pointer-events: none
.x
    display: none
svg
    height: 100%
    overflow: visible
// svg
.target
    ellipse:nth-child(1)
        fill: #A00B2F
    ellipse:nth-child(2)
        fill: #BB2E49
    ellipse:nth-child(3)
        fill: #E13758
.icon
    path
        stroke: none
        fill: #FFFFFF
.point
    path:nth-child(1)
        stroke: none
        fill: white
    path:nth-child(2)
        stroke: none
        fill: #A00B2F
.aim, .wrong-ball
    overflow: visible
    .ring, #bounds
        fill: none
        stroke: none
.bonus
    path
        opacity: 0
        z-index: 800
    path:nth-child(1)
        stroke: none
        fill: white
    path:nth-child(2)
        stroke: none
        fill: #57A013
.meters
    position: absolute
    top: 0
    pointer-events: none
    .meter
        &:nth-child(1)
            stroke-width: 16px
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke: rgb(255 255 255 / 50%)
            fill: none
            filter: drop-shadow(0px 0px 6px rgb(122 185 64 / 80%))
        &:nth-child(2)
            stroke-width: 4px
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke: rgb(255 255 255 / 50%)
            fill: rgb(122 185 64)
            filter: drop-shadow(0px 0px 0px rgb(122 185 64 / 50%))
        &:nth-child(3)
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke: rgb(122 185 64)
            fill: none
            stroke-width: 10px
        &:nth-child(4)
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke: rgb(122 185 64)
            fill: none
            stroke-width: 10px
        &:nth-child(5)
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke-width: 0
            fill: rgb(255 255 255 / 60%)
            stroke: rgb(255 255 255 / 60%)
//

.welcome section .modal .copy strong
    font-size: 2.2rem
